In [9]:
import numpy as np
import pandas as pd

In [11]:
fires_df = pd.read_csv('./data/Fires.csv')

In [12]:
fires_df

,Unnamed: 0,STATE,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE
0,0,CA,2005,0.10,A,Miscellaneous,40.036944,-121.005833
1,1,CA,2004,0.25,A,Lightning,38.933056,-120.404444
2,2,CA,2004,0.10,A,Debris Burning,38.984167,-120.735556
3,3,CA,2004,0.10,A,Lightning,38.559167,-119.913333
4,4,CA,2004,0.10,A,Lightning,38.559167,-119.933056
...,...,...,...,...,...,...,...,...
1880460,1880460,CA,2015,0.01,A,Missing/Undefined,40.481637,-122.389375
1880461,1880461,CA,2015,0.20,A,Miscellaneous,37.617619,-120.938570
1880462,1880462,CA,2015,0.10,A,Missing/Undefined,37.617619,-120.938570
1880463,1880463,CA,2015,2.00,B,Missing/Undefined,37.672235,-120.898356
1880464,1880464,CA,2015,0.10,A,Miscellaneous,34.263217,-116.830950

In [13]:
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [24]:
# create csvs for each state
for state in states:
    globals()[f'{state}_fires'] = fires_df[fires_df['STATE'] == state].drop('Unnamed: 0', axis=1)
    globals()[f'{state}_fires'].to_csv(f'./data/{state}_fires.csv')

In [26]:
CA_fires

,STATE,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE
0,CA,2005,0.10,A,Miscellaneous,40.036944,-121.005833
1,CA,2004,0.25,A,Lightning,38.933056,-120.404444
2,CA,2004,0.10,A,Debris Burning,38.984167,-120.735556
3,CA,2004,0.10,A,Lightning,38.559167,-119.913333
4,CA,2004,0.10,A,Lightning,38.559167,-119.933056
...,...,...,...,...,...,...,...
1880460,CA,2015,0.01,A,Missing/Undefined,40.481637,-122.389375
1880461,CA,2015,0.20,A,Miscellaneous,37.617619,-120.938570
1880462,CA,2015,0.10,A,Missing/Undefined,37.617619,-120.938570
1880463,CA,2015,2.00,B,Missing/Undefined,37.672235,-120.898356
1880464,CA,2015,0.10,A,Miscellaneous,34.263217,-116.830950

In [27]:
fires_by_year = CA_fires.groupby(['FIRE_YEAR']).count()
fires_by_year['TOTAL_COUNT'] = fires_by_year['STATE']
fires_by_year = fires_by_year['TOTAL_COUNT']
fires_by_year

FIRE_YEAR
1992    10833
1993     8270
1994     8654
1995     7381
1996     9173
1997     7930
1998     6864
1999     8910
2000     6977
2001     8182
2002     7133
2003     7913
2004     7418
2005     6678
2006     8271
2007    10151
2008     7744
2009     6940
2010     5776
2011     8562
2012     7208
2013     8723
2014     6494
2015     7365
Name: TOTAL_COUNT, dtype: int64

In [28]:
yearly_class_count = CA_fires.groupby(['FIRE_SIZE_CLASS', 'FIRE_YEAR']).count()
yearly_class_count['TOTAL_COUNT'] = yearly_class_count['STATE']
yearly_class_count = yearly_class_count['TOTAL_COUNT']
yearly_class_count

FIRE_SIZE_CLASS  FIRE_YEAR
A                1992         5997
                 1993         3897
                 1994         4290
                 1995         3602
                 1996         4258
                              ...
G                2011            9
                 2012           15
                 2013           15
                 2014           17
                 2015           27
Name: TOTAL_COUNT, Length: 168, dtype: int64

In [29]:
fires_by_class = CA_fires.groupby(['FIRE_SIZE_CLASS']).count()
fires_by_class['TOTAL_COUNT'] = fires_by_class['STATE']
fires_by_class = fires_by_class['TOTAL_COUNT']
fires_by_class

FIRE_SIZE_CLASS
A    98309
B    76942
C     9825
D     2137
E     1187
F      756
G      394
Name: TOTAL_COUNT, dtype: int64

In [30]:
yearly_cause_count = CA_fires.groupby(['STAT_CAUSE_DESCR', 'FIRE_YEAR']).count()
yearly_cause_count['TOTAL_COUNT'] = yearly_cause_count['STATE']
yearly_cause_count = yearly_cause_count['TOTAL_COUNT']
yearly_cause_count

STAT_CAUSE_DESCR  FIRE_YEAR
Arson             1992         1155
                  1993         1077
                  1994          768
                  1995          997
                  1996          948
                               ...
Structure         2011            6
                  2012           10
                  2013            8
                  2014           20
                  2015            3
Name: TOTAL_COUNT, Length: 309, dtype: int64

In [31]:
fires_by_cause = CA_fires.groupby(['STAT_CAUSE_DESCR']).count()
fires_by_cause['TOTAL_COUNT'] = fires_by_cause['STATE']
fires_by_cause = fires_by_cause['TOTAL_COUNT']
fires_by_cause

STAT_CAUSE_DESCR
Arson                19635
Campfire              9516
Children              6930
Debris Burning       14318
Equipment Use        39407
Fireworks              219
Lightning            27000
Miscellaneous        51943
Missing/Undefined    12605
Powerline             1198
Railroad               720
Smoking               5936
Structure              123
Name: TOTAL_COUNT, dtype: int64

In [32]:
acres_by_year = CA_fires.groupby(['FIRE_YEAR']).sum()
acres_by_year = acres_by_year['FIRE_SIZE']
acres_by_year

FIRE_YEAR
1992     296439.800
1993     321495.300
1994     407944.700
1995     216068.700
1996     707110.500
1997     324566.300
1998     160013.100
1999     804123.400
2000     252676.000
2001     350176.700
2002     514942.700
2003    1031965.050
2004     301095.970
2005     258714.870
2006     812711.940
2007    1045291.620
2008    1430153.600
2009     455350.040
2010     120947.040
2011     192286.920
2012     764766.640
2013     581410.292
2014     546878.780
2015     848728.610
Name: FIRE_SIZE, dtype: float64

In [33]:
acres_by_class = CA_fires.groupby(['FIRE_SIZE_CLASS']).sum()
acres_by_class = acres_by_class['FIRE_SIZE']
acres_by_class

FIRE_SIZE_CLASS
A      11015.602
B     124064.780
C     289694.930
D     345499.010
E     620129.270
F    1620972.750
G    9734482.230
Name: FIRE_SIZE, dtype: float64

In [34]:
acres_by_cause = CA_fires.groupby(['STAT_CAUSE_DESCR']).sum()
acres_by_cause = acres_by_cause['FIRE_SIZE']
acres_by_cause

STAT_CAUSE_DESCR
Arson                1.396072e+06
Campfire             9.721100e+05
Children             1.212042e+05
Debris Burning       3.975753e+05
Equipment Use        1.561227e+06
Fireworks            6.820300e+03
Lightning            4.216265e+06
Miscellaneous        2.812105e+06
Missing/Undefined    7.957222e+05
Powerline            2.015198e+05
Railroad             7.325518e+04
Smoking              1.152348e+05
Structure            7.674850e+04
Name: FIRE_SIZE, dtype: float64

In [35]:
acres_by_cause.to_csv('./data/acres_by_cause.csv')
acres_by_class.to_csv('./data/acres_by_class.csv')
acres_by_year.to_csv('./data/acres_by_year.csv')
fires_by_year.to_csv('./data/fires_by_year.csv')