In [32]:
# from matplotlib import style
# import matplotlib.pyplot as plt

In [33]:
import numpy as np
import pandas as pd

In [34]:
# import sqlalchemy
# from sqlalchemy.ext.automap import automap_base
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine, func

In [35]:
fires_df = pd.read_csv('./data/Fires.csv')
drought_df = pd.read_csv('./data/SPI-tx.csv')
drought_df2 = pd.read_csv('./data/PALEO-tx.csv')

In [36]:
fires_df

,Unnamed: 0,STATE,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE
0,0,CA,2005,0.10,A,Miscellaneous,40.036944,-121.005833
1,1,CA,2004,0.25,A,Lightning,38.933056,-120.404444
2,2,CA,2004,0.10,A,Debris Burning,38.984167,-120.735556
3,3,CA,2004,0.10,A,Lightning,38.559167,-119.913333
4,4,CA,2004,0.10,A,Lightning,38.559167,-119.933056
...,...,...,...,...,...,...,...,...
1880460,1880460,CA,2015,0.01,A,Missing/Undefined,40.481637,-122.389375
1880461,1880461,CA,2015,0.20,A,Miscellaneous,37.617619,-120.938570
1880462,1880462,CA,2015,0.10,A,Missing/Undefined,37.617619,-120.938570
1880463,1880463,CA,2015,2.00,B,Missing/Undefined,37.672235,-120.898356
1880464,1880464,CA,2015,0.10,A,Miscellaneous,34.263217,-116.830950

In [37]:
fires_clean = fires_df[fires_df["STATE"] == "TX"]
fires_clean

,Unnamed: 0,STATE,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE
283,283,TX,2005,3.00,B,Arson,33.786111,-96.150000
284,284,TX,2005,55.00,C,Debris Burning,31.312500,-94.270833
285,285,TX,2005,2.00,B,Campfire,33.345833,-97.595833
286,286,TX,2005,0.30,B,Smoking,31.386667,-95.150556
287,287,TX,2005,55.00,C,Lightning,31.354167,-95.085278
...,...,...,...,...,...,...,...,...
1856360,1856360,TX,2015,49.70,C,Missing/Undefined,31.031333,-97.618000
1856399,1856399,TX,2015,1.00,B,Missing/Undefined,32.846100,-94.967600
1856439,1856439,TX,2015,0.25,A,Missing/Undefined,33.164283,-96.252667
1859961,1859961,TX,2015,250.00,D,Missing/Undefined,33.054000,-94.708667
1859991,1859991,TX,2015,4856.00,F,Lightning,29.616667,-94.273333

In [38]:
fires_clean = fires_clean[['STATE', 'FIRE_YEAR', 'FIRE_SIZE', 'FIRE_SIZE_CLASS',
       'STAT_CAUSE_DESCR', 'LATITUDE', 'LONGITUDE']]
fires_clean.head()

,STATE,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE
283,TX,2005,3.0,B,Arson,33.786111,-96.150000
284,TX,2005,55.0,C,Debris Burning,31.312500,-94.270833
285,TX,2005,2.0,B,Campfire,33.345833,-97.595833
286,TX,2005,0.3,B,Smoking,31.386667,-95.150556
287,TX,2005,55.0,C,Lightning,31.354167,-95.085278

In [39]:
fires_by_year = fires_clean.groupby(['FIRE_YEAR']).count()
fires_by_year['TOTAL_COUNT'] = fires_by_year['STATE']
fires_by_year = fires_by_year['TOTAL_COUNT']
fires_by_year

FIRE_YEAR
1992     1168
1993     1457
1994      907
1995     1648
1996     2843
1997      770
1998     2026
1999     1775
2000     2627
2001      771
2002     1229
2003     1147
2004     1040
2005     6901
2006    15022
2007     5477
2008    18067
2009    14142
2010     9351
2011    19453
2012     7623
2013     9735
2014     8538
2015     8304
Name: TOTAL_COUNT, dtype: int64

In [40]:
yearly_class_count = fires_clean.groupby(['FIRE_SIZE_CLASS', 'FIRE_YEAR']).count()
yearly_class_count['TOTAL_COUNT'] = yearly_class_count['STATE']
yearly_class_count = yearly_class_count['TOTAL_COUNT']
yearly_class_count

FIRE_SIZE_CLASS  FIRE_YEAR
A                1992         28
                 1993         51
                 1994         57
                 1995         47
                 1996         51
                              ..
G                2010          5
                 2011         96
                 2012          5
                 2014          4
                 2015          8
Name: TOTAL_COUNT, Length: 166, dtype: int64

In [41]:
fires_by_class = fires_clean.groupby(['FIRE_SIZE_CLASS']).count()
fires_by_class['TOTAL_COUNT'] = fires_by_class['STATE']
fires_by_class = fires_by_class['TOTAL_COUNT']
fires_by_class

FIRE_SIZE_CLASS
A    18127
B    91843
C    25452
D     3782
E     1781
F      798
G      238
Name: TOTAL_COUNT, dtype: int64

In [42]:
yearly_cause_count = fires_clean.groupby(['STAT_CAUSE_DESCR', 'FIRE_YEAR']).count()
yearly_cause_count['TOTAL_COUNT'] = yearly_cause_count['STATE']
yearly_cause_count = yearly_cause_count['TOTAL_COUNT']
yearly_cause_count

STAT_CAUSE_DESCR  FIRE_YEAR
Arson             1992         360
                  1993         410
                  1994         170
                  1995         483
                  1996         739
                              ...
Structure         2003           1
                  2004           1
                  2005           1
                  2013           1
                  2015           4
Name: TOTAL_COUNT, Length: 287, dtype: int64

In [43]:
fires_by_cause = fires_clean.groupby(['STAT_CAUSE_DESCR']).count()
fires_by_cause['TOTAL_COUNT'] = fires_by_cause['STATE']
fires_by_cause = fires_by_cause['TOTAL_COUNT']
fires_by_cause

STAT_CAUSE_DESCR
Arson                 9224
Campfire              1792
Children              1519
Debris Burning       56172
Equipment Use        16067
Fireworks              266
Lightning             6797
Miscellaneous        39822
Missing/Undefined      973
Powerline             4351
Railroad              1123
Smoking               3903
Structure               12
Name: TOTAL_COUNT, dtype: int64

In [44]:
acres_by_year = fires_clean.groupby(['FIRE_YEAR']).sum()
acres_by_year = acres_by_year['FIRE_SIZE']
acres_by_year

FIRE_YEAR
1992    3.361030e+04
1993    1.168737e+05
1994    7.091750e+04
1995    5.637110e+04
1996    2.162230e+05
1997    4.678090e+04
1998    1.365514e+05
1999    6.002820e+04
2000    1.816868e+05
2001    9.222620e+04
2002    4.379360e+04
2003    5.436715e+04
2004    3.455340e+04
2005    2.888513e+05
2006    1.852753e+06
2007    1.350336e+05
2008    1.483416e+06
2009    5.577945e+05
2010    2.382020e+05
2011    3.498725e+06
2012    1.631149e+05
2013    7.173992e+04
2014    1.438430e+05
2015    2.087617e+05
Name: FIRE_SIZE, dtype: float64

In [45]:
acres_by_class = fires_clean.groupby(['FIRE_SIZE_CLASS']).sum()
acres_by_class = acres_by_class['FIRE_SIZE']
acres_by_class

FIRE_SIZE_CLASS
A    2.594200e+03
B    1.951614e+05
C    7.082113e+05
D    5.776025e+05
E    8.539766e+05
F    1.577841e+06
G    5.870832e+06
Name: FIRE_SIZE, dtype: float64

In [46]:
acres_by_cause = fires_clean.groupby(['STAT_CAUSE_DESCR']).sum()
acres_by_cause = acres_by_cause['FIRE_SIZE']
acres_by_cause

STAT_CAUSE_DESCR
Arson                3.377509e+05
Campfire             4.738548e+04
Children             2.198609e+04
Debris Burning       7.250773e+05
Equipment Use        9.332222e+05
Fireworks            6.658080e+03
Lightning            1.817013e+06
Miscellaneous        3.793542e+06
Missing/Undefined    1.374700e+06
Powerline            5.144303e+05
Railroad             3.228396e+04
Smoking              1.818899e+05
Structure            2.795000e+02
Name: FIRE_SIZE, dtype: float64

In [47]:
yrs = fires_clean['FIRE_YEAR'].unique()
yrs.sort(axis=0)
yrs

array([1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015], dtype=int64)

In [48]:
year_range = pd.DataFrame({'YEAR': yrs})
year_range

    YEAR
0   1992
1   1993
2   1994
3   1995
4   1996
5   1997
6   1998
7   1999
8   2000
9   2001
10  2002
11  2003
12  2004
13  2005
14  2006
15  2007
16  2008
17  2009
18  2010
19  2011
20  2012
21  2013
22  2014
23  2015

In [49]:
fire_causes = pd.DataFrame({'CAUSE': fires_clean['STAT_CAUSE_DESCR'].unique()})
fire_causes

                CAUSE
0               Arson
1      Debris Burning
2            Campfire
3             Smoking
4           Lightning
5       Equipment Use
6       Miscellaneous
7            Children
8            Railroad
9           Fireworks
10          Powerline
11  Missing/Undefined
12          Structure

In [50]:
drought_df = drought_df[drought_df.index > 1164]
drought_df = drought_df[drought_df.index < 1452]
drought_df

Empty DataFrame
Columns: [0, DATE, D0, D1, D2, D3, D4, -9, W0, W1, W2, W3, W4]
Index: []

In [51]:
drought_df['DATE'] = drought_df['DATE'].map(lambda x: x.lstrip('d_').rstrip('d_'))
drought_df

Empty DataFrame
Columns: [0, DATE, D0, D1, D2, D3, D4, -9, W0, W1, W2, W3, W4]
Index: []

In [52]:
drought_df2 = drought_df2[drought_df2.index > 1991]
drought_df2 = drought_df2[drought_df2.index < 2016]
drought_df2

Empty DataFrame
Columns: [0, DATE, D0, D1, D2, D3, D4, -9, W0, W1, W2, W3, W4]
Index: []

In [53]:
drought_df2['DATE'] = drought_df2['DATE'].map(lambda x: x.lstrip('year_').rstrip('year_'))
drought_df2['DATE']

Series([], Name: DATE, dtype: object)

In [54]:
drought_df2

Empty DataFrame
Columns: [0, DATE, D0, D1, D2, D3, D4, -9, W0, W1, W2, W3, W4]
Index: []

In [56]:
fires_clean.to_csv('./data/fires_clean2.csv', index=False)
year_range.to_csv('./data/year_range.csv')
fire_causes.to_csv('./data/fire_causes.csv')
drought_df.to_json('./data/SPI-tx.json')
drought_df2.to_json('./data/PALEO-tx.json')
acres_by_cause.to_csv('./data/acres_by_cause.csv')
acres_by_class.to_csv('./data/acres_by_class.csv')
acres_by_year.to_csv('./data/acres_by_year.csv')
fires_by_year.to_csv('./data/fires_by_year.csv')